body{
    background-color: rgb(252, 232, 252);
}
#logo-title{
    font-weight: 900;
    color: purple;
    font-family: monospace;
}
.book-button-carousel{
    height: 44px;
    width: 170px;
    color: purple;
    background-color: white;
    border: 3px solid purple;
    border-radius: 15px;
    font-weight: bolder;
    text-decoration: none;
}
.book-button-carousel a{
    text-decoration: none;
    color: purple;
    padding: 30px;
}
.book-button-carousel a:hover{
    color: white;
}
.book-button-carousel:hover{
    color: white;
    background-color: purple;
    box-shadow: 2px 2px 4px 4px white;
}
/* for card  */
#custom-text-color-h{
    color: #231D4F;
}
#card-button-bg{
    background-color: rgb(252, 232, 252);
}
#card-button-bg:hover{
    background-color: rgb(124, 13, 124);
    box-shadow: 2px 2px 4px 4px rgb(180, 89, 180);
}
#custom-color-text-p{
    color: #848199;
}
.fill{
    color: rgb(9, 11, 170);
}
#card-button{
    height: 44px;
    width: 170px;
    color: rgb(23, 25, 156);
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(23, 25, 156);
    border-radius: 15px;
    font-weight: bolder;
}
.bottom-shadow{
    box-shadow: 0px 25px 45px -15px rgb(82, 57, 170);
}
/* customer review  */
.img-size{
    height: 130px;
    width: 130px;
}
.half{
    color: rgb(9, 11, 170);
}
.empty{
    color: rgb(9, 11, 170);
}
.card-box-shadow{
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                0 100px 80px rgba(0, 0, 0, 0.12);
    border: 1px solid purple;            
}
.card-box-shadow:hover{
    transform: scale(1.1);
    transition-delay: 0.5ms;
    transition-duration: 1s;
    box-shadow: 0 8.8px 5.2px rgba(163, 79, 159, 0.39),
                0 10.7px 12.3px rgba(204, 136, 136, 0.048),
                0 12.5px 14px rgba(194, 86, 188, 0.06),
                0 35.3px 57.9px rgba(141, 96, 150, 0.072),
                0 48.8px 63.4px rgba(100, 43, 86, 0.086),
                0 120px 100px rgba(133, 51, 126, 0.12);;
}
/* our popular projects  */
.card-background{
    background-color: rgb(211, 211, 211);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}
.card-background:hover{
    border: 2px solid purple;
    overflow: hidden;
    box-shadow: 10px 15px 15px rgb(228, 189, 240);
}
.image-hover:hover{
    transform: scale(1.1);
    transition-duration: 1s;
    transition-delay: .5ms;
    border-radius: 10px;
    
}
.text-family-h{
    font-family: cursive;
    font-size: xx-large;
    color: rgb(75, 0, 75);
    font-weight: bolder;
}
/* footer section  */
.icon-top a{
    font-size: 60px;
    color: purple;
}
.footer-icon-size img{
    width: 135px;
    height: 40px;
}
#playstore{
    height: 70px;
}
